@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
body{
  animation: fadein 2000ms ease-out;
  -moz-animation: fadein 2000ms ease-out; /* Firefox */
  -webkit-animation: fadein 2000ms ease-out; /* Safari and  Chrome */
  -o-animation: fadein 2000ms ease-out; /* Opera */
}
@keyframes fadein {
  from {opacity:0;}
  to {opacity:1;}
}
@-moz-keyframes fadein { /* Firefox */
  from {opacity:0;}
  to {opacity:1;}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {opacity:0;}
  to {opacity:1;}
}
@-o-keyframes fadein { /* Opera */
  from {opacity:0;}
  to {opacity: 1;}
}
html, body {
  font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 50px;
  }
/* Header Line */
.Logo {
    text-align: center;
}
.Logo img {
  width: 35%;
}
::-webkit-scrollbar {
  width: 10px;
}
 
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}
header {
  z-index:1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 1rem;
  background-color: black;
  /* background:radial-gradient(ellipse farthest-corner at center top, #222222 0%, #e5e4e6 100%); */
  font-weight: bold;
  font-size:large;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.8;
}

header h1{
  margin: 0;
  /* font-family: 'Black Han Sans', sans-serif; */
}


main {
  padding: 1rem;
  height: 100%;  
}
/* Header Line */


#sns{
    margin-top:10px;
    text-align:center;
}

/* Comment Line -start */
.Comment {
    display: block;
    text-align:center;
    margin-top: 47px;
}

.Comment .Comment-line {
text-align:center;
/* font-family: 'Black Han Sans', sans-serif; */
height:50px;
}

/* Comment Line -end */

/* checkbox Line-start*/
#checkLine{
  width:100%;
  height: 50px;
  padding-left:10%;
  font-size:large;
  /* font-family: 'Black Han Sans', sans-serif; */
}

/*달력 온오프 라인*/

/* checkbox Line-end*/
.conList{
  background:linear-gradient( to bottom, #FFF,#F2EFEF);
  height:100%;
}

.mainContents{
  width:100%;
  padding-left:10%;
  padding-right:10%;
  /* font-family: 'Hahmlet', serif; */
}
.conOn{
    display:block;
}
.conOn.on{
    display:none;
}   

footer{
  text-align:center;
  display:block;
  margin-top:20px;
  width:100%;
}
#whiteSpace{
  width:100%;
  height:1000px;
}
#Information{
    text-align: center;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

/*tab*/
ul,li {list-style:none;}

/*tab css*/

.tabnav{
  font-size:0; 
  border:1px solid #ddd;}
.tabnav li{
  display: inline-block;  
  height:46px; 
  text-align:center; 
  border-right:1px solid #ddd;}
.tabnav li a:before{
  content:""; 
  position:absolute; 
  left:0; top:0px; 
  width:100%; 
  height:3px; }
.tabnav li a.active:before{
  background:#161811;
}
.tabnav li a.active{
  border-bottom:1px solid #fff;
}
.tabnav li a{ 
  position:relative; 
  display:block; 
  background: #f8f8f8; 
  color: #000; 
  padding:0 30px; 
  line-height:46px; 
  text-decoration:none; 
  font-size:16px;}
.tabnav li a:hover,
.tabnav li a.active{background:#fff; color:#161811; }
.tabcontent{padding: 20px; 
  border:1px solid #ddd; 
  border-top:none;}
/*tab end*/

  /*meun*/
 
 #check-btn { display: none; }
 #check-btn>a:hover{
     display:block;
 }
#check-btn:checked ~ .menubars { display: block; } 
.menubars { display: none; }


.Header {
  text-align: center;
}
a:link {
  color:black;
  text-decoration: none;
}
h1 >a:link{
  color:black;

}
a:visited { 
  color: black; text-decoration: none;
}
h1 >a:visited{
  color:black;

}
a:hover { color: black; text-decoration: underline;}
h1>a:hover{
   color:white;
}
ul{
  list-style:none;
}
li{
  list-style:none;
}

nav>li{
  float:left;
  position:relative;
}
nav>li>ul{
  display:none;
  position:absolute;
  width:160px;
  background-color:rgba(255,255,255,0.7);
  left:0;
  margin:0;
}
nav>li:hover>ul{
  display:block;
  z-index:10;
}

.hidden {
  display: none;
}
.blue {
  color: blue;
}
.red {
  color: red;
}

/* 공연,아티스트 정보 디테일 스타일 #explainLine */
.explainColumn, .artistColumn {display:flex; flex-direction:row; align-items:center; margin:5px 0;}
   .extitle{width:90px; padding:15px 10px 15px 0; text-align:left;}
   .arttitle {width:90px; padding:15px 10px 15px 0; text-align:center;}
   .exdetail{width:200px; padding:15px 10px; border:5px solid black; text-align:center; font-weight:bold;} 
   .artdetail {width:70%; padding:15px 10px; border:5px solid black; text-align:left; font-weight:bold;} 
     #explainLine{padding:20px 0; width:100%; display:flex; flex-direction:column; align-items:center;}   
     #explainTitle{font-weight:bold; font-size:20px; margin:5px 0;}
   #siteContents{display:flex; flex-direction:column; align-items:center; margin:5px 0;}
   .siteColumn{width:100%;padding:20px 15px;}
   #siteNm, #artistNm{ width: 80%;
    font-weight:bold; font-size:20px; text-align:center;}
   #siteImg{height:40%; width: auto;}
   #artistImg{height:30%; width: auto;}
   #siteImgtag, #artistImgtag{height:100%; width: auto;}
   #siteAddr{font-weight:bold; font-size:15px; text-align:center;}
#map {
  width: 80%;
  height: 40%;
}

   /* style="width:100%;height:400px;padding:20px 15px;" */
   .sidenav{float: right;}
   .dropdown-btn{color: white; background-color: none;}
   .dropdown-container{display: flex; flex-direction: column;}
   /*content1 메뉴바 관련 style*/
   /* Fixed sidenav, full height */
   .sidenav {
   z-index: 1;
   top: 0;
   left: 0;
   background-color: black;
   overflow-x: hidden;
   width:12%;
   opacity: 0.8;
   float: right;
   }
   /* Style the sidenav links and the dropdown button */
   .sidenav a, .dropdown-btn {
   text-decoration: none;
   font-size: 13px;
   font-weight: 600;
   display: block;
   border: none;
   background-color: black;
   width: 100%;
   text-align: left;
   cursor: pointer;
   outline: none;
   color: white;
   text-align: right;
   padding: 0 8px 10px 16px;
   }
   .sidenav a {
   padding: 10px 8px 7px 16px;
   }
   /* On mouse-over */
   .sidenav a:hover, .dropdown-btn:hover {
   color: black;
   opacity: 1;
   }
   /* Main content */
   .main {
   margin-left: 200px; /* Same as the width of the sidenav */
   font-size: 15px; /* Increased text to enable scrolling */
   padding: 0px 10px;
   }
   /* Add an active class to the active dropdown button */
   .active {
   background-color: #1D8CDC;
   color: white;
   }
   /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
   .dropdown-container {
   display: none;
   }
   /* Some media queries for responsiveness */
   @media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
   }
   .header-column {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
   }

   .pressed {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
   }